{% extends 'layouts/base.html' %}

{% block main %}
    <div class="row">
        <div class="col-12">
            Clientes
            <a href="{% url 'criar_clientes' %}">Novo Cliente</a>
        </div>
        <div class="col-12">
            {% include 'includes/messages.html' %}
        </div>
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                        <tr>
                            <td>{{cliente.id}}</td>
                            <td>{{cliente.nome}}</td>
                            <td>
                                <a href="{% url 'editar_cliente' cliente.id %}">Editar</a>
                                <a href="{% url 'deletar_cliente' cliente.id %}">Deletar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock main %}
    