<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório - Lista de clientes fiéis</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            
            {% for atendimento in atendimentos %}
                <tr>
                    <td>{{atendimento.id_cliente}}</td>
                    <td>{{atendimento.id_cliente__nome}}</td>
                    <td>{{atendimento.dcount}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>