body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: linear-gradient(to bottom, #F8F9FA, #CED4DA);
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: #343A40 !important;
}

nav ul li a,
.navbar-brand {
  color: #F8F9FA !important;
}

.navbar-toggler {
  background-color: #F8F9FA !important;
}

footer {
  position: relative;
  bottom: 0;
  background-color: #343A40;
  color: #F8F9FA;
  /* font-weight: bold; */
}

.icon-align {
  vertical-align: text-bottom;
  text-align: center;
}

#main-card{
  min-height: 100%;
}