{% extends 'layouts/base.html' %}

{% block main %}
<div class="row">
    <div class="col-12">
        {% include 'includes/messages.html' %}
    </div>
    <div class="col-12 d-flex justify-content-between">
        <h5>Dashboard</h5>
    </div>
    <div class="col-12 mb-3">
        <div class="dropdown-divider"></div>
    </div>
    <div class="col-md-6 mb-3">
        <canvas id="qnt_clientes" width="400" height="100"></canvas>
    </div>
    <div class="col-md-6 mb-3">
        <canvas id="total_faturado_mes" width="400" height="100"></canvas>
    </div>
</div>
{% include 'includes/scripts.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
<script>
    const ctx = document.getElementById('qnt_clientes').getContext('2d');
    const qnt_clientes = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Quantidade de clientes no mês '],
            datasets: [{
                label: 'Total de clientes cadastrado no mês',
                data: [{{qnt_cliente|length}}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const total = document.getElementById('total_faturado_mes').getContext('2d');
    const total_faturado_mes = new Chart(total, {
        type: 'bar',
        data: {
            labels: ['Total faturado no mês R$'],
            datasets: [{
                label: 'Total faturado no mês R$',
                data: [{{total_faturado}}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>
{% endblock main %}